.header {
    background-color: #2A59FE;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10%;

    .headerComp {
        display: flex;
        align-items: center;
    }

    .headerLogo {
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 800;

    }

    .searchInput {
        width: 408px;
        height: 36px;
        font-size: 17px;
        margin-left: 100px;
    }


    .basket {
        color: #FFFFFF;
        display: flex;
        align-items: center;
        margin-right: 0;

        p {
            padding-left: 10px;
        }
    }
}

.dashboard {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;

    .productList {
        display: inline-grid;
        grid-template-columns: auto;
        padding: 0 10px;

    }
}