.App {
  text-align: center;
  font-family: Montserrat;

  .appWindow {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;

    .basket {
      margin-left: 20px;
    }
  }
}